@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Neuton);
@import url(http://fonts.googleapis.com/css?family=Nobile);

.remark-slide .remark-slide-content {
  padding-left: 2em;
  padding-right: 2em;
}
.remark-slide-content {
  font-family: "Nobile", sans-serif;
  font-size: 20px;
}
.remark-slide-content h1, h2, h3 {
  font-weight: 400;
  margin-bottom: 0;
  font-family: "Neuton";
}
h1:first-child::first-letter,
h2:first-child::first-letter {
  color: #8c1b1e;
}
.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 {
  font-size: 1.6em;
}
.footnote {
  position: absolute;
  bottom: 3em;
  font-size: 80%;
}
li p { line-height: 1.25em; }
.red { color: #fa0000; }
.large { font-size: 2em; }
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
.remark-code {
  -moz-border-radius: 5px;
  -web-border-radius: 5px;
  background: #e7e8e2;
  border-radius: 5px;
  font-size: 16px;
}
code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.left30 {
  float: left;
  width: 28%;
}
.right30 {
  float: right;
  width: 28%;
}
.right70 {
  float: right;
  width: 68%;
}
.left60 {
  float: left;
  width: 58%;
}
.right40 {
  float: right;
  width: 38%;
}
.pull-left h3, .pull-right h3 {
  line-height: .25em;
}
.pull-right ~ p {
  clear: both;
}
.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 1em;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
}
.scale img {
  width: 100%;
}
.scale80 img {
  width: 80%;
}
.scale60 img {
  width: 60%;
}
.scale50 img {
  width: 50%;
}
.scale40 img {
  width: 40%;
}
.scale30 img {
  width: 40%;
}
.vscale img {
  height: 100%;
}
.vscale50 img {
  height: 50%;
}
.remark-slide-content li{
    line-height: 3ex;
}
.outline{
    text-shadow: 0px 0px 3px #ffffff
}

/* http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1.5em 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  color: #333;
  font-style: italic;
  display: inline;
}
blockquote .source {
  display: block;
  float: right;
  color: #666;
}

video {
    width: 100%;
}
.video80 video {
    width: 80%;
}
.video60 video {
    width: 60%;
}

.tiny{
    font-size: 11px;
}